# Sensible Daten
*.ps1
/code_parts
# Nookipedia Assets (Sämtliche Bilder im img-Ordner ignorieren)

nookipedia/public/assets/img/

# PHP Abhängigkeiten (falls später Composer genutzt wird)

/vendor/

# Betriebssystem-Dateien

.DS_Store
Thumbs.db

# User-Uploads (Bilder der Tiere, falls sie dynamisch hochgeladen werden)

/public/assets/img/creatures/*
!/public/assets/img/creatures/.gitkeep

# Datenbank-Dateien (Sämtliche SQL-Dateien ignorieren)

*.sql

# IDE Einstellungen

.vscode/
.idea/
zusammenfassung.ps1
