<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Verhindern, dass man Verzeichnisse auflistet
    Options -Indexes

    # Wenn die Datei oder das Verzeichnis nicht existiert, leite an index.php weiter
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>